[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==6.2.5"
fastapi = "==0.68.1"
devtools = "==0.7.0"
isort = "==5.9.3"
black = "==21.9b0"
flake8 = "==3.9.2"
mypy = "==0.910"
pre-commit = "==2.15.0"

[packages]
tornado = "==6.1"
pydantic = "==1.8.2"
selenium = "==4.0.0rc1"
pillow = "==8.3.2"
python-resize-image = "==1.1.19"
matplotlib = "==3.5.0b1"
pandas = "==1.3.3"
seaborn = "==0.11.2"
loguru = "==0.5.3"
arrow = "==1.1.1"
configargparse = "==1.5.2"
opencv-python = "==4.5.3.56"
motor = "==2.5.1"
python-dotenv = "==0.19.0"
pyrtools = "==1.0.0"
scikit-image = "==0.18.3"
ipython = "==7.27.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
