[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
fastapi = "*"
devtools = "*"
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"

[packages]
tornado = "*"
pydantic = "*"
selenium = "*"
pillow = "*"
python-resize-image = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
loguru = "*"
arrow = "*"
configargparse = "*"
opencv-python = "*"
motor = "*"
python-dotenv = "*"
pyrtools = "*"
scikit-image = "*"
ipython = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
