absl-py==1.0.0
appnope==0.1.2
arrow==1.1.1
astor==0.8.1
asttokens==2.0.5
async-generator==1.10
attrdict==2.0.1
attrs==21.2.0
Babel==2.11.0
backcall==0.2.0
backports.entry-points-selectable==1.2.0
bce-python-sdk==0.8.74
beautifulsoup4==4.11.1
black==22.3.0
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.9
click==8.1.3
ConfigArgParse==1.5.2
cryptography==36.0.1
cssselect==1.2.0
cssutils==2.6.0
cycler==0.11.0
Cython==0.29.32
decorator==5.1.0
devtools==0.7.0
dill==0.3.6
distlib==0.3.4
et-xmlfile==1.1.0
executing==0.8.2
fastapi==0.68.1
filelock==3.4.0
fire==0.5.0
flake8==5.0.4
Flask==2.1.3
Flask-Babel==2.0.0
fonttools==4.28.4
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.43.0
h11==0.12.0
h5py==2.10.0
identify==2.4.0
idna==3.3
imageio==2.13.3
imgaug==0.4.0
importlib-metadata==4.2.0
iniconfig==1.1.1
ipython==7.27.0
isort==5.11.5
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
lmdb==1.4.0
loguru==0.5.3
lxml==4.9.2
Markdown==3.3.4
MarkupSafe==2.1.1
matplotlib==3.5.0b1
matplotlib-inline==0.1.3
mccabe==0.7.0
motor==2.5.1
multiprocess==0.70.14
mypy==0.910
mypy-extensions==0.4.3
networkx==2.6.3
nodeenv==1.6.0
numpy==1.18.5
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
outcome==1.1.0
packaging==21.3
paddle-bfloat==0.1.7
paddleocr==2.6.1.2
paddlepaddle==2.4.1
pandas==1.3.3
parso==0.8.3
pathspec==0.9.0
pdf2docx==0.5.6
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.15.0
premailer==3.10.0
prompt-toolkit==3.0.24
protobuf==3.19.1
ptyprocess==0.7.0
py==1.11.0
pyclipper==1.3.0.post4
pycodestyle==2.9.1
pycparser==2.21
pycryptodome==3.16.0
pydantic==1.8.2
pyflakes==2.5.0
Pygments==2.10.0
pymongo==3.12.3
PyMuPDF==1.20.2
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyrtools==1.0.0
pytest==6.2.5
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.19.0
python-resize-image==1.1.19
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
rapidfuzz==2.13.7
regex==2021.11.10
requests==2.26.0
scikit-image==0.18.3
scipy==1.7.3
seaborn==0.11.2
selenium==4.0.0rc1
setuptools-scm==6.3.2
shapely==2.0.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
starlette==0.14.2
tensorboard==1.15.0
tensorflow==1.15.5
tensorflow-estimator==1.15.1
termcolor==1.1.0
tifffile==2021.11.2
toml==0.10.2
tomli==2.0.0
torch==1.11.0
torchvision==0.12.0
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
trio==0.19.0
trio-websocket==0.9.2
typed-ast==1.4.3
typing_extensions==4.0.1
urllib3==1.26.7
virtualenv==20.10.0
visualdl==2.4.1
wcwidth==0.2.5
Werkzeug==2.2.3
wrapt==1.13.3
wsproto==1.0.0
zipp==3.6.0
