appdirs==1.4.4
appnope==0.1.2
arrow==1.1.1
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
black==20.8b1
certifi==2021.5.30
cffi==1.15.0rc1
cfgv==3.2.0
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.0a1
ConfigArgParse==1.5.2
cryptography==3.4.8
cycler==0.10.0
decorator==5.1.0
devtools==0.6.1
distlib==0.3.1
fastapi==0.63.0
filelock==3.0.12
flake8==3.9.0
fonttools==4.27.1
h11==0.12.0
identify==2.2.0
idna==3.2
imageio==2.9.0
importlib-metadata==3.7.3
iniconfig==1.1.1
ipython==7.27.0
isort==5.8.0
jedi==0.18.0
kiwisolver==1.3.2
loguru==0.5.3
matplotlib==3.5.0b1
matplotlib-inline==0.1.3
mccabe==0.6.1
motor==2.5.1
mypy==0.812
mypy-extensions==0.4.3
networkx==2.6.3
nodeenv==1.5.0
numpy==1.21.2
opencv-python==4.5.3.56
outcome==1.1.0
packaging==21.0
pandas==1.3.3
parso==0.8.2
pathspec==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pluggy==1.0.0.dev0
pre-commit==2.11.1
prompt-toolkit==3.0.20
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
pyflakes==2.3.1
Pygments==2.10.0
pymongo==3.12.0
pyOpenSSL==20.0.1
pyparsing==3.0.0rc1
pyrtools==1.0.0
pytest==6.2.2
python-dateutil==2.8.2
python-dotenv==0.19.0
python-resize-image==1.1.19
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
regex==2021.3.17
requests==2.26.0
scikit-image==0.18.3
scipy==1.7.1
seaborn==0.11.2
selenium==4.0.0rc1
setuptools-scm==6.3.2
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
starlette==0.13.6
tifffile==2021.8.30
toml==0.10.2
tomli==1.2.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
trio==0.19.0
trio-websocket==0.9.2
typed-ast==1.4.2
typing-extensions==3.10.0.2
urllib3==1.26.7
virtualenv==20.4.3
wcwidth==0.2.5
wsproto==1.0.0
zipp==3.4.1
tensorflow==1.14.0
keras==2.3.1
h5py==2.10.0
